body {
  background-color: #eaeaea;
  color: #2f2f2f;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.container {
  width: auto;
}
/* Header */
.logo {
  margin: 130px 0 120px 0;
}

.box {
background-color: #f8f8f8;
box-shadow: 0 0 20px 10px lightgrey;
}

.box_white {
  background-color: white;
  box-shadow: 0 0 20px 10px lightgrey;
}

.logo_nav {
  padding-top: 45px;
  padding-bottom: 40px;
}

.navigation {
  display: block;
  padding-top: 50px;
  padding-bottom: 40px;
}
.navigation a {
  text-decoration: none;
  color: #2e2e2e;
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 16px;
}
.navigation a:hover {
  color: #921026;
}
.navigation li {
  display: block;
  text-transform: uppercase;
  padding-right: 20px;
}
.navigation li:last-child {
  padding-right: 0;
}

.submenu {
  display: none;
  position: absolute;
  padding: 0;
  background-color: #fff;
  opacity: 0.8;
  z-index: 10;
  box-shadow: 0 0 5px lightgrey;
}
.submenu a {
  text-decoration: none;
  color: #c8c8c8;
  font-weight: 300;
}
.submenu a:hover {
  text-decoration: underline;
  color: #2e2e2e;
}
.submenu li {
  padding: 5px 20px 5px 20px;
}
.search {
  padding-top: 45px;
  padding-bottom: 40px;
}
.mobile_navigation {
  display: none;
}

/* Section 1 */
.caroussel-big {
  margin-top: 85px;
}
.caroussel_bg {
padding: 5px;
margin: 0;
width: 100%;
z-index: 1;
}
.caroussel_content {
  position: absolute;
  z-index: 10;
  padding-top: 6%;
  padding-left: 8%;
}
.caroussel_content h2 {
  padding: 20px 0 10px 0;
  color: #921026;
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 24px;
}

/* Section 2 */
.popular_recepies {
  padding: 35px 3% 45px 3%;
  margin: 80px 0 80px 0;
  font-size: 18px;
  font-weight: 400;
}
.popular_recepies a {
  text-decoration: none;
  color: black;
}
.popular_recepies a:hover {
  color: #921026;
}

.icons {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #555555;
}

/* Section 3 */

.descr {
  padding: 3% 5% 2% 0;
  font-size: 14px;
}

.descr h2 {
  font-family: "Playfair Display";
  font-weight: 900;
  font-size: 32px;
  margin-bottom: 15px;
}

.descr i {
  padding: 8px 0 35px 0;
}

.descr a {
  text-decoration: none;
  color: #055555;
}
.descr a:hover {
  color: #921026;
}

.descr li {
  display: block;
}
.descr ul {
  padding-left: 0;
}

.descr h6 {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 16px;
  padding-bottom: 8px;
}
.recepie_descr {
  height: 53%;
  overflow-x: auto;
}
.box_white_recepie {
  background-color: white;
  box-shadow: 0 0 20px 10px lightgrey;
  height: 435px;
}
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px grey;
    border-radius: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
  -webkit-box-shadow: inset 0 0 3px black;
}

/* Section 4 */
.sorry-feedback {
  margin-top: 130px;
  margin-right: -2.5%;
  margin-left: -2.5%;
}

.box_white_feedback {
  background-color: white;
  box-shadow: 0 0 20px 10px lightgrey;
}

.sorry {
  margin-right: 5%;
}
.sorry-img {
  z-index: 1;
  position: absolute;
}
.sorry-content {
  z-index: 10;
  position: relative;
}
.sorry-feedback h5 {
  font-weight: 400;
  font-size: 20px;
  padding-top: 20px;
}
.sorry-btn {
  margin-top: 350%;
}

.feedback p {
  margin-bottom: 0;
}
.feedback h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.feedback h4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
}
.feedback-social a{
  text-decoration: none;
  color: #aaaaaa;
  margin: 0;
}
.feedback-social a:hover{
  color: #921026;
}
.feedback-signature {
  padding: 5% 0 5% 45%;
}

.feedback-text {
  font-size: 14px;
  font-style: italic;
}


/* Footer */

footer {
  background-color: #2f2f2f;
  margin: 145px 0 50px 0;
  padding: 70px 0 70px 0;
  color: #7d7d7d;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
}

.footer_menu li {
  display: block;
  padding-right: 10px;
}

.footer-icons {
  padding-left: 50%;
}

.footer_menu {
  padding-top: 1%
}

.footer_menu a{
  text-decoration: none;
  color: #aaaaaa;
  margin: 0;
}
.footer_menu a:hover{
  color: #921026;
}

@media screen and (max-width: 1199px) {
.search {
  padding-left: 0;
}
.navigation a {
  font-size: 12px;
}
.caroussel_content {
font-size: 12px;
}
.caroussel_content h2 {
font-size: 16px;
}
.descr h2 {
  font-size: 22px;
}
.descr h6, li, p {
  font-size: 12px;
}
.feedback-text {
  font-size: 12px;
}
.feedback h4 {
  font-size: 21px;
}
.recepie_descr {
  height: 48%;
}
.box_white_recepie {
  height: 378px;
}
}

@media screen and (max-width: 991px) {
.col-lg-7, .col-lg-1, .col-lg-3 {
  width: auto;
}
.navigation a{
  font-size: 8px;
}
.search {
  margin-right: 10px;
}
.caroussel_content img {
  width: 35%;
}
.recepie_descr {
  height: 26%;
}
.box_white_recepie {
  height: 277px;
}
.sorry-btn {
  margin-left: -25px;
  margin-top: 370%;
}
.feedback-text {
height: 15%;
overflow-x: auto;
}
.box_white_feedback {
  height: 345px;
}
.footer_menu ul {
flex-direction: column;
padding-left: 200px;
}
.input {
  width: 100%;
}
}
@media screen and (max-width: 767px) {
.logo {
  display: none;
}
header {
  padding-top: 15%;
}
.navigation li {
  display: none;
}
.navigation {
  display: none;
}
.mobile_navigation {
  display: inline;
  padding-top: 43px;
}
.mobile_navigation a {
  text-decoration: none;
  color: grey;
  margin: 0;
}
.dropdown-menu {
top: 20px;
}
.caroussel_content p {
  display: none;
}
.input {
  width: 95%;
}
.box_white_recepie {
  height: auto;
}
.recepie_descr {
  height: auto;
  overflow-x: auto;
}
/* .sorry {
  margin-left: 3px;
} */
.sorry-feedback {
  margin-left: 0;
  margin-right: -5%;
}
.feedback {
  margin-top: 25%;
  margin-left: -5%;
}
.box_white_feedback {
  height: auto;
}
.feedback-text {
height: auto;
overflow-x: auto;
}
.footer_menu li{
  display: none;
}
.footer-icons {
  display: none;
}
}
@media screen and (max-width: 433px) {
.recepie_btn {
  width: 40%;
}
.caroussel_content h2 {
  font-size: 12px;
}
}
